@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body {
    margin: 0;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    /*BACKGROUN DE BODY*/
    background-image: url(background/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: blue;
    height: 100vh;
    font-family: "Poetsen One", sans-serif;
}

nav {
    display: flex;
    flex-direction: colum;
    flex-wrap: nowrap;
    width: 100%;
    
}

nav a {
    flex: 1;
    text-decoration: none;
    color: #000000;
    font-size: 2vw;
    margin: 1.5vw;
    width: 24%;
    height: 15vh;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #BF1304;
    border-bottom: 1PX solid rgb(255, 0, 0);
}

#inicio:hover, #acerca-de:hover, #servicios:hover, #contacto:hover {
    color: white;
    background-color: #F21905;
}

@media (max-width: 300px) {
    nav {
        flex-direction: column;
        height: 100%;
        display: flex;
    }
    
    nav a {
        width: 100%; 
        height: 100px;
        align-content: center;
        justify-content: center;
        text-align: center;
        background-color: #BF1304; 
        font-size: 15vw;
    }
    
}